body{
  background-color: rgb(247, 247, 247);
}
.App {
  width: 700px;
  margin: auto;
  text-align: center;
  background-color: rgb(146, 112, 129);
}

.btn-cont{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.btn-row{
  width: 100%;
  height: 100px;
  display: flex;
}

button{
  width: 25%;
  font-weight: normal;
  font-size: 25px;
  border: 1px solid rgb(192, 192, 192);
  transition: font-weight 2s;
  -webkit-transition: font-weight 2s;
  -moz-transition: font-weight 2s;
  -ms-transition: font-weight 2s;
  -o-transition: font-weight 2s;
}

.display{
  background-color:gray;
  color: white;
  font-weight: bolder;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  text-align: right;
  padding-right: 10px;
}
